@charset "utf-8";
@font-face{
	font-family:'FontAwesome';
	src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
	src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
}
.fa::after{
	font-family: FontAwesome;
	margin: 3px;
}
.fa-home::after 		{content: "\f015";}
.fa-book::after 		{content: "\f02d";}
.fa-users::after 		{content: "\f0c0";}
.fa-download::after 	{content: "\f019";}
.fa-desktop::after 		{content: "\f26c";}
.fa-mobile::after 		{content: "\f10b";}
.fa-apple::after 		{content: "\f179";}
.fa-android::after 		{content: "\f17b";}
.fa-comments::after 	{content: "\f086";}
.fa-user::after 		{content: "\f007";}
.fa-fort-awesome::after {content: "\f286";}
.fa-youtube-play::after {content: "\f16a";}
.fa-picture::after 		{content: "\f03e";}
.fa-bomb::after 		{content: "\f1e2";}
.fa-wrench::after 		{content: "\f0ad";}
.fa-wifi::after 		{content: "\f1eb";}
.fa-facebook::after 	{content: "\f230";}
.fa-deviantart::after 	{content: "\f1bd";}
.referencia_de_cores{
	color: #580000; /*vermelho escuro*/
	color: #950000; /*vermelho claro*/
	color: #F45D00; /*laranja*/
	color: #F4B331; /*amarelo*/
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	margin:0;
	padding:0;
	border:0;
	font:normal 24px Cambria, Georgia, serif;
	background-color: #580000;
	color: #F4B331;
}
img{border:0;}
a{
	text-decoration: none;
	color: #F45D00
}
footer{
	text-align: center;
	font-size: 16px;
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
}
footer p{
	margin: 0;
}
nav::before { 
	content: "";
	display: block;
	height: 170px;
	background-image: url(/logo.png), radial-gradient(circle 250px at bottom, #950000, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #580000;
}
nav{
	text-align: center;
	font-size: 32px;
	background-color: rgba(0,0,0,0.5);
}
nav a{
	display: inline-block;
	padding: 10px;
	margin: 0 5px;
	transition: .6s;
}
nav a:hover{
	background-color: rgba(0,0,0,0.5);
	color: #F4B331;
	transition: .4s;
}
main{
	flex-grow: 1;
	background: radial-gradient(circle closest-corner at top, #950000, rgba(0, 0, 0, 0));
	padding: 50px;
	text-align: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.flex > *{
	background-color: rgba(0,0,0,0.5);
	padding: 1em;
	margin: 1em;
	max-width: 100%;
}

body > div{
	/*hack pra esconder propaganda da hospedagem gratuita*/
	display: none;
}